<div class="row text-center">
    <div class="col-md-6">
        <div class="well">
            <h2 style="margin-bottom: 10px">Basic Membership</h2>
            <%= link_to "Sign Up Free", new_user_registration_path, class: 'btn btn-primary btn-lg btn-block' %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            <h2 style="margin-bottom: 10px">Pro Membership</h2>
            <%= link_to "Sign Up Pro (10$ per month)", new_user_registration_path, class: 'btn btn-success btn-lg btn-block' %>
        </div>
    </div>
</div>